{% load staticfiles %}
<html>
    <head>
        <title>Door Access Control</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/door.css' %}">
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'doorac:door_logout' %}">Log out</a>)</small></p>
            {% else %}
                <p class="top-menu"><small><a href="{% url 'doorac:door_login' %}">Log in</a></small></p>
            {% endif %}
            <h1><a href="{% url 'doorac:door_index' %}">Door Access Control</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
                <div class="msg">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
